version: '3.7'

services:
  web:
    build: .
    volumes: &web-volumes
      - &app-volume .:/app:cached
      - ~/.ssh:/root/.ssh
      - ~/.bash_history:/root/.bash_history
      - &bundle-cache-volume bundle_cache:/bundle_cache
    ports:
      - 3000:3000
      - 3001:3001
      - 3002:3002
      - 8080:8080
    depends_on:
      - redis
      - sidekiq
      - db
    environment: &web-environment
      REDIS_URL: redis://redis
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      BUNDLE_PATH: /bundle_cache
      GEM_HOME: /bundle_cache
      GEM_PATH: /bundle_cache
      RAILS_PORT: 8080
      RUBYOPT: -W:no-deprecated -W:no-experimental
    command: bundle exec rails s -b '0.0.0.0' -p 3000

  db:
    image: postgres:11.4
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  redis:
    image: redis:5.0.9-alpine

  sidekiq:
    build: .
    command: bundle exec sidekiq -C /app/config/sidekiq.yml
    environment: *web-environment
    volumes: *web-volumes
    depends_on:
      - redis

volumes:
  bundle_cache:
